3==0.0.0
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
decorator==5.1.1
distlib==0.3.8
filelock==3.16.1
Flask==3.0.3
future==1.0.0
geocoder==1.38.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.1.2
pandas==2.2.3
phonenumbers==8.13.46
platformdirs==4.3.6
python-dateutil==2.9.0.post0
pyttsx==1.1
pytz==2024.2
ratelim==0.1.6
requests==2.32.3
six==1.16.0
tzdata==2024.2
urllib3==2.2.3
virtualenv==20.26.6
Werkzeug==3.0.4
